body{
background:#101010;
}

.imgs img{
margin-top:5px;
width:280px;
height:320px;
}

.imgs{
 color:#fff;
 border-radius:40px;
 background:transparent;
 position:relative;
 font-size:20px;
 text-align:center;
 max-width:2100px;
 }.card{
  width:300px;
  margin-top:35px;
  text-align:center;
  height:320px;
  font-size:35px;
  color:#fff;
  background:transparent;
  border-radius:40px;
  }
  .card a{
  color:transparent;
  background:transparent;
  }