<!DOCTYPE html>
<!--suppress ALL -->
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Cinema-Team</title>
    <link rel="stylesheet" th:href="@{/css/navbar.css}">

    <link rel="stylesheet" th:href="@{/css/mainCard.css}">
</head>
<body >
<div th:replace="/fragments/navbars :: navbar-home">


</div>
<!--All Videos Available To The User-->
<div class="imgs">
    <section  th:each="film: ${films} " id="d3" style="display:inline-block;">
        <div class="container  card" id="d3" style="display:inline-block;" >
            <a  th:href="@{/film/details/{id}(id=${film.id})}"> <img  th:src="*{'data:image/jpeg;base64,'+{film.image}}"
                                                                      class="card-img-top" alt="..."></a>
        </div>
    </section>
</div>
</body>
</html>