<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Reset-Password</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link th:href="@{/css/reset.css}" rel="stylesheet">
</head>
<body style="background-image:url('/css/img/city.png');">
<div th:replace="/fragments/navbars :: navbar-home">


</div>
<!--Password Change-->
<div class="container text-center wrapper">
<form th:action="@{/reset_password}" method="post">
  <input type="hidden" name="token" th:value="${token}">
    <div th:if="${title != null}">
        <p>[[${title}]]</p>
    </div>
    <div class="text-write">
        <h1>Change Password</h1>
    </div>
    <div class="text-write">
     <input type="password" class="form-control" name="password" id="password" required minlength="2" maxlength="24"
     placeholder="Write New Password"/>
        <i class='bx bxs-lock-alt' ></i>
  </div>
  <input oninput="checkPasswordMatch(this);" type="submit"  value="Change Password" class="btn"/>
</form>
</div>
<script type="text/javascript">
         function checkPasswordMatch(fieldConfirmPassword){
         if (fieldConfirmPassword.value != $("#password").val()){
         fieldConfirmPassword.setUserValidity("Passwords do not match!");
         }else{
         fieldConfirmPassword.setUserValidity("");
         }}
    </script>
</body>
</html>